[submodule "tools/yololib"]
	path = tools/yololib
	url = https://github.com/KJCracks/yololib.git
[submodule "tools/fishhook"]
	path = tools/fishhook
	url = https://github.com/facebook/fishhook.git
[submodule "tools/class-dump"]
	path = tools/class-dump
	url = https://github.com/nygard/class-dump.git
[submodule "tools/Clutch"]
	path = tools/Clutch
	url = https://github.com/KJCracks/Clutch.git
[submodule "tools/dumpdecrypted"]
	path = tools/dumpdecrypted
	url = https://github.com/stefanesser/dumpdecrypted.git
